<div class="col-6 mt-5">
    <span><h2 id="header">HNGI</h2></span>
      <Span><p>Welcome</p></Span>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
  
  </div>
